/* You can add global styles to this file, and also import other style files */
  .cdk-overlay-container, .cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 10000;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*z-index: 1000;*/
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}

.cdk-overlay-backdrop.cdk-high-contrast-active.cdk-overlay-backdrop-showing {
  opacity: 0.6;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 100;
}

.cdk-overlay-pane {
  width: 75rem !important;
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 100;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  left: 0;
}
